@model Product

 <div class="card">
        <div class="card-body">
                <h4 class="card-title">@Model.Name
                <span class="badge badge-primary float-right">@Model.Price.ToString("c")</span>
                </h4>
                <p class="card-text">@Model.Description
                <form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="POST">
                        <input type="hidden" asp-for="ProductId"/>
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                        <button type="submit" class="btn btn-success btn-sm float-right">Add to cart</button>
                </form>
                </p>
        </div>
</div>
<p></p>